apiVersion: v1
kind: Service
metadata:
  name: ghost-service
  labels:
    app: ghost
spec:
  type: NodePort
  ports:
  - port: 2368
    targetPort: 2368
    protocol: TCP
    name: http
  selector:
    app: ghost
